{% if site.breadcrumbs %}
<nav class="breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        {% assign position = 1 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ site.url }}" itemprop="item">
                <span itemprop="name">{{ site.breadcrumb_home_title }}</span>
            </a>
            <meta itemprop="position" content="{{ position }}" />
        </li>

        {% if page.categories %} {% for category in page.categories %} {% assign position = position | plus: 1 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span class="separator">{{ site.breadcrumb_separator }}</span>
            <a href="{{ site.url }}/categories/#{{ category | slugify }}" itemprop="item">
                <span itemprop="name">{{ category }}</span>
            </a>
            <meta itemprop="position" content="{{ position }}" />
        </li>
        {% endfor %} {% endif %} {% if page.title and page.title != site.breadcrumb_home_title %} {% assign position = position | plus: 1 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span class="separator">{{ site.breadcrumb_separator }}</span>
            <span itemprop="name">{{ page.title }}</span>
            <meta itemprop="position" content="{{ position }}" />
        </li>
        {% endif %}
    </ol>
</nav>
{% endif %}
