<div class="architecture-section">
    <!-- 기술 스택 -->
    <div class="content-card">
      <h4 class="h4">기술 스택</h4>
      <div class="tech-stacks">
        <!-- Backend -->
        <div class="tech-category">
          <h5 class="h5">Backend</h5>
          <ul class="tech-list">
            <!-- [TODO] 백엔드 기술 스택을 입력하세요 -->
            <li class="tech-item">
              <div class="icon-box">
                <ion-icon name="server-outline"></ion-icon>
              </div>
              <div class="tech-info">
                <h6 class="tech-title">기술명</h6>
                <p class="tech-description">기술 설명</p>
              </div>
            </li>
          </ul>
        </div>
  
        <!-- Frontend -->
        <div class="tech-category">
          <h5 class="h5">Frontend</h5>
          <ul class="tech-list">
            <!-- [TODO] 프론트엔드 기술 스택을 입력하세요 -->
            <li class="tech-item">
              <div class="icon-box">
                <ion-icon name="logo-react"></ion-icon>
              </div>
              <div class="tech-info">
                <h6 class="tech-title">기술명</h6>
                <p class="tech-description">기술 설명</p>
              </div>
            </li>
          </ul>
        </div>
  
        <!-- Infrastructure -->
        <div class="tech-category">
          <h5 class="h5">Infrastructure</h5>
          <ul class="tech-list">
            <!-- [TODO] 인프라 기술 스택을 입력하세요 -->
            <li class="tech-item">
              <div class="icon-box">
                <ion-icon name="cloud-outline"></ion-icon>
              </div>
              <div class="tech-info">
                <h6 class="tech-title">기술명</h6>
                <p class="tech-description">기술 설명</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- 시스템 아키텍처 -->
    <div class="content-card">
      <h4 class="h4">시스템 아키텍처</h4>
      <div class="architecture-diagram">
        <!-- [TODO] 시스템 아키텍처 다이어그램을 추가하세요 -->
        <p class="timeline-text no-image">시스템 아키텍처 다이어그램을 추가해주세요.</p>
      </div>
    </div>
  </div>