<!-- [TODO] 프로젝트명을 수정하세요 -->
<div class="portfolio-detail">
    <header>
      <h2 class="h2 article-title">[Project Name]</h2>
    </header>
  
    <section class="project-content">
        <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-section-btn data-section="overview">
                <span class="button-text">Overview</span>
                <ion-icon name="home-outline" class="button-icon"></ion-icon>
              </button>
            </li>
            <li class="filter-item">
              <button data-section-btn data-section="architecture">
                <span class="button-text">Architecture</span>
                <ion-icon name="construct-outline" class="button-icon"></ion-icon>
              </button>
            </li>
            <li class="filter-item">
              <button data-section-btn data-section="features">
                <span class="button-text">Features</span>
                <ion-icon name="apps-outline" class="button-icon"></ion-icon>
              </button>
            </li>
            <li class="filter-item">
              <button data-section-btn data-section="solution">
                <span class="button-text">Solution</span>
                <ion-icon name="bulb-outline" class="button-icon"></ion-icon>
              </button>
            </li>
            <li class="filter-item">
              <button data-section-btn data-section="review">
                <span class="button-text">Review</span>
                <ion-icon name="star-outline" class="button-icon"></ion-icon>
              </button>
            </li>
          </ul>
  
      <div id="section-content">
        <!-- 각 섹션의 내용이 여기에 로드됨 -->
      </div>
    </section>
  </div>